body{
    background-color: rgb(169, 90, 179);
    padding: 30px;
}
.fundo{
    background-color: #d9d9d9;
    height: 90vh;
    border-radius: 5px;
    padding: 5px;


    
}
.fundo-menu{
    height: 100px;
    background-color: rgb(144, 65, 155);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
a{
    text-decoration: none;
}
.botao-menu{
    width: 100px;
    height: 60px;
    background-color: rgb(103, 23, 143);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.botao-menu:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
.botao-menu img {
    width: 60px;
}
.mensagem-bem-vindo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
